[submodule "3rdparty"]
	path = 3rdparty
	url = https://github.com/nextcloud/3rdparty.git
[submodule "apps/bav"]
	path = apps/bav
	url = git@gitlab.claus-justus-heine.de:nextcloud/apps/bav.git
[submodule "apps/logreader"]
	path = apps/logreader
	url = https://github.com/nextcloud/logreader.git
