[submodule "3rdparty"]
	path = 3rdparty
	url = https://github.com/nextcloud/3rdparty.git
[submodule "bug-fixes/nextcloud-files"]
	path = bug-fixes/nextcloud-files
	url = git@github.com:rotdrop/nextcloud-files.git
