[submodule "3rdparty"]
	path = 3rdparty
	url = https://github.com/nextcloud/3rdparty.git
[submodule "bug-fixes/nextcloud-vue"]
	path = bug-fixes/nextcloud-vue
	url = git@github.com:rotdrop/nextcloud-vue.git
